﻿body{padding:0;margin:0;width:100%;font-family:"微软雅黑";margin: 0 auto;background:#f3f3f3;height:100%;overflow:auto;}

p,h3,h4,ul,li,ol{margin: 0px;padding: 0px;}
li{list-style: none;padding:0;}
img{border:0px;}
.a{text-decoration:none;color:#FF0000;font-size:50px;font-weight:bold;font-family:"微软雅黑";}
i,em{font-style:normal;}
.All_Whole{width:100%;background:#ffffff;}
.All_Whole .T1_p{font-size:26px;margin-bottom:15px;color:#dc1515;margin-left:30px;}
.All_Whole .T1_p1{font-size:16px;line-height:32px;color:#797979;border-bottom:1px solid #d2d2d2;text-indent:30px;overflow:hidden;}
.All_Whole .T1_p1 p{display:block;float:left;}
.All_Whole .T1_p1 b{margin-left:30px;color:#797979;margin-right:28px;font-weight: normal;}
.All_Whole .T1_p1 span{color:#3e6493}
.All_Whole .T1_p1 i{display:block;float:right;margin-right:36px;}
.All_Whole .T1_p1 em{float:left;display:block;margin-top:-7px;}
.All_Whole .T1_p1 img{float:left;}
.All_Whole .T1_p2{font-size:18px;line-height:36px;color:#505050;margin-top:55px;margin-left:28px;}
.All_Whole .T1_p2 span{color:#0038ab;}
.All_Whole .Img1{width:691px;height: auto;display:block;margin:40px auto 18px auto;}
.All_Whole .T1_p4{font-size:18px;line-height:36px;color:#2a2a2a;margin-left:28px;margin-top:0px; text-align:center}
.All_Whole .T1_p5{font-size:18px;line-height:36px;color:#2a2a2a;margin-left:28px;margin-top:33px;}
.All_Whole .T1_p5 b{color:#0038ab;font-weight:normal;}
.All_Whole .T1_p5 span{color:#ff0000;font-weight:bold;}
.All_Whole .Img2{width:707px;height: auto;display:block;margin:20px auto 0px auto;}
.All_Whole .Img5{width:707px;height: auto;display:block;margin:20px auto 0px auto;}

.All_Whole .T1_p6{font-size:18px;line-height:36px;color:#2a2a2a;margin-left:28px;margin-top:30px;}

.All_Whole .T2_p1{font-size:18px;line-height:36px;color:#2a2a2a;margin-left:28px;margin-top:35px;margin-bottom:35px;}
.All_Whole .T2_p1 span{color:#ff0000;font-weight:bold;}

.All_Whole .Img3{width:688px;height:451px;display:block;margin:20px auto 0px auto;}

.All_Whole .T2_p2{font-size:18px;line-height:36px;color:#2a2a2a;margin-left:28px;margin-top:40px;}
.All_Whole .T2_p2 span{color:#FF0000;font-weight:bold;}

.All_Whole .T3_Bot{width:100%;margin:46px auto 15px auto;}
.All_Whole .T3_Bot_T{width:100%;height:53px;border-bottom:1px solid #dedede;}
.All_Whole .T3_Bot_T .T3_Bot_R{float:right;width:300px;height:25px;margin-top:15px;}
.All_Whole .T3_Bot_T .T3_Bot_R ul{height:25px;}
.All_Whole .T3_Bot_T .T3_Bot_R ul li{height:25px;width:90px;padding-left:17px;padding-right:18px;float:left;font-size:22px;}
.All_Whole .T3_Bot_T .T3_Bot_R ul .Le{border-right:1px solid #989898;}
.All_Whole .T3_Bot_T .T3_Bot_R ul li .CL1{color:#4d4d4d;font-size:18px}
.All_Whole .T3_Bot_T .T3_Bot_R ul li .CL2{color:#b1b1b1;font-size:18px}
.All_Whole .T3_Bot_T .T3_Bot_L{line-height:29px;font-size:18px;margin-left:23px;color:#4d4d4d;float:left;font-weight:bold;}
.All_Whole .T3_Bot_T .T3_Bot_C{float:left;line-height:29px;font-size:18px;color:#4d4d4d;font-weight:bold;}

.All_Whole .T3_Bot_B{width:100%;}
.All_Whole .T3_Bot_B ul{width:100%;}

.All_Whole .T3_Bot_B ul li{width:100%;padding:25px 0;border-bottom:1px dotted #dfdfdf;}
.All_Whole .T3_Bot_B ul li img{float:left;width:32px;height:32px;margin-left:1px;margin-left:30px;}
.All_Whole .T3_Bot_B ul li .Rig{margin-left:105px;}
.All_Whole .T3_Bot_B ul li .Rig_p1{line-height:24px;font-size:14px;color:#3567b1;}
/*.All_Whole .T3_Bot_B ul li .Rig_p1 span{color:#9d9d9d;font-size:24px;}*/
.All_Whole .T3_Bot_B ul li .Rig_p2{line-height:26px;font-size:16px;color:#2a2a2a;}
.All_Whole .T3_Bot_B ul li .Rig_p1 span{float:right;color:#999696;margin-right:30px;}

.PosiFu{width:100%;height:185px;position:fixed;bottom:0;border-bottom:1px solid #b9b9b9;border-top:1px solid #b9b9b9;line-height:46px;font-size:20px;color:#4d4d4d;background:#dcdcdc;}
.PosiFu .fuBox{width:1000px;margin:0 auto;}
.PosiFu .fuBox img{display:block;width:131px;height:131px;padding:10px;background:#fff;float:left;margin-top:20px;}
.PosiFu .fuBox p{display:block;width:817px;float:right;margin-top:44px;}
.PosiFu .fuBox p b{display:block;color:#6c6d6f;font-size:26px;line-height:52px;}
.PosiFu .fuBox p b span{color:#dc1515;}
.PosiFu .fuBox p i{display:block;color:#dc1515;font-size:20px;}
.foordiv{width:100%;text-align:center;font-size:16px;line-height:28px;padding:40px 0;}
.dkwx{color: #000;text-decoration: none;display: inline-block;border: 1px solid #c6c6c6;border-radius: 10em;padding: 0 .7em;font-size: .85em;background: linear-gradient(180deg,#f5f5f5,#d7d7d7,#d2d2d2);margin-left: .2em;}
.maxBox{width:998px;margin:0 auto;background:#F33;transform:translate(0,0);}

.zhou1{width:160px;border:1px solid #333;position:fixed;right: calc(50% - 665px); top:30%;overflow:hidden; background:#FFF}
.zhou1 img{display:block;width:140px;height:140px;margin:20px auto;}
.zhou1 p{display:block;margin:30px 0;color:#333;font-size:16px;line-height:28px;text-align:center;}
.zhou1 p .vsd_w{ background:#F00; padding:1px 10px; color: #FFF}
.tudkg{text-align: center;font-size: 1.3rem;line-height: 2.4rem;color: #FFf; width:500px; background:#F00; margin:10px auto 0; padding:15px 0; display:block}
.tudkg img{ text-align:center; margin:8px auto 0; width:430px; height:430px}


 .ie{   
       _position: absolute;  
       _clear: both;   
       _top:expression(eval(document.compatMode &&   
               document.compatMode=='CSS1Compat') ?   
               documentElement.scrollTop   
               +(documentElement.clientHeight-this.clientHeight) - 1   
               : document.body.scrollTop   
               +(document.body.clientHeight-this.clientHeight) - 1); 
}